/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

/* Smooth scrolling. No es funcional pero lo pide la prueba. */

html {
  scroll-behavior: smooth;
}

/* Estilos del documento */

body {
  color: white;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

h2,
.subtitle i {
  font-size: 40px;
}

.navbar {
  margin: -40px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar img {
  height: 36px;
  margin-right: 10px;
}

.card {
  color: black;
}

.card img {
  overflow: hidden;
  background-size: cover;
}

.badge {
  font-size: 0.5em;
  font-weight: 400;
  position: relative;
  top: -0.9em;
}

.typeform {
  width: 100%;
  height: 500px;
}

footer i {
  font-size: 40px;
}

a i {
  text-decoration: none;
  color: white;
}

footer a:hover {
  opacity: 0.6;
}

/* Alineación vertical de la navegación del navbar */

#nosotros,
#destacados,
#contacto {
  padding-top: 3em;
  margin-top: -3em;
}

/* Media Query */

@media (max-width: 992px) {
  h2,
  .subtitle i {
    font-size: 32px;
  }

  .navbar {
    margin: 0;
    background-color: black;
  }

  #nosotros,
  #destacados,
  #contacto {
    padding-top: 14em;
    margin-top: -14em;
  }
}
